@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  
}

body {
    margin: 0;
    padding: 0;
    background-color: #d9e1e9;
}


nav {
    background-color: #ebeaea;
    display: flex;
    align-items: center;
    height: 10vh;
}

.nav-left {
    flex: 50%;
}

.nav-left a:hover {
    color: orangered;
  }

.nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 45px;
}

.nav-right a {
    background-color: black;
    padding: 8px 20px;
    color: white;
    border-radius: 10px;
}

.nav-right a:hover {
    background-color: white;
    color: orangered;
    border: 1px solid black;
  }

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
  
  nav ul li {
    margin-right: 45px;
    font-size: 20px;
}
  
  nav ul li a {
    color: black;
}
  
  nav ul li .active {
    font-weight: bolder;
}

.container {
    width: auto;
    border-radius: 10px;
    box-shadow: 0 10px 10px 5px #a4a4a4;
    margin: 100px 80px;
    padding: 55px 50px;
    display: flex;
    background-color: #fbfbfb
    
  }

section {
    display: flex;
    width: 100%;
}

.contactcv {
    display: flex;
    width: 500px;
    margin: 50px 0px;
    align-items: center;
}
.contact {
    flex: 30%;
}
  
.contact a {
    font-size: 18px;
    padding: 10px 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
  
  .contact a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

.download {
    flex: 70%;
    padding-top: 0px 0px;
    font-weight: bold;
}

.download a {
    color: #010101;
}

.gambar {
    display: flex;
    width: 330px; height: 550px;
    
    border-radius: 10px;
    box-shadow: 0 0 10px #474747;
}

/* styling contact */
form {
    width: 40%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 50px;
  }
  
  form div {
    margin-top: 20px;
  }
  
  form div h1 {
    text-align: center;
    justify-content: center;
    font-weight: 600;
    
  }
  
  form div label {
    font-weight: 600;
    font-size: 20px;
  }
  
  form div input,
  select,
  textarea,
  button {
    box-shadow: 0 10px 20px #adacac;
  }
  
  input,
  select,
  textarea {
    background-color: whitesmoke;
    border: 1px solid white;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    resize: none;
  }
  
  button {
    position: absolute;
    right: 30%;
    font-weight: 800px;
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 10px 40px;
    border-radius: 20px;
    place-items: right;
  }

  .button {
    padding: 30px;
  }


  /* Styling blog */
  .container-blog {
    background-color: #fbfbfb;
    width: auto;
    display: flex;
}

.judul-blog h1 {
    font-size: 40px;
    text-align: center;
    
}

.gambar-hp {
    display: flex;
    flex: 60%;
    background-color: #d9e1e9;
}

.gambar-hp img {
    width: 900px;
    height: 450px;
    margin-top: 0;
    margin-left: 70px;
}

.icon-right {
    flex: 25%;
    background-color: #d9e1e9;
    margin-top: -20px;
}

.icon-right table {
    margin-top: -25px;
    font-size: 25px;
}

.icon-right .tabel-duration i{
    font-size: 30px;
    margin-top: 10px;
}

.icon-right .tabel-tekno {
    margin-top: -25px; 
    font-size: 25px;
}

.icon-right .tabel-tekno i{
    margin-right: 10px;
}

.paragraf-blog {
    padding: 30px 70px;
    text-align: justify;
}